form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
}

.p-field {
  display: flex;
  flex-direction: column;
}

.p-field label {
  margin-bottom: 8px;
}

.p-slider {
  display: block !important;
  width: 100% !important;
  min-height: 20px; 
}

button {
  align-self: flex-start;
}