/* Global styles */
@import 'primeicons/primeicons.css';
/* @import 'primeng/resources/themes/saga-blue/theme.css';
@import 'primeng/resources/primeng.min.css'; */

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Responsive design */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
}